# Рабочая БД
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/taskdb
# Отдельная тестовая БД (имя ОБЯЗАТЕЛЬНО заканчивается на _test)
TEST_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/taskdb_test
